/* .progresstext{
    padding: 10;
    color : black;
    font-weight: 900;
}

.Childdiv{
    height: 100%;
    background-color:blue;
    border-radius:40;
    text-align: left;
}

.Parentdiv{
    height: 100px;
    width: 100%;
    background-color: lightgray;
    border-radius: 40;
    margin: 50;
} */