.home{
    background-image: url("./image2.jpg");
    background-position: 100% 100%;
    background-size: cover;
    overflow: hidden;
    height: 500px;
    position:relative;
    overflow: hidden;
    
}

.home .row{
    background-color: rgba(0,0,0,.6);
}